<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/login.css">
    <title>Register</title>
</head>
<body>
    <header id="header-top" class='header-top'>
        <nav>
        
            <div>
                <a href="/">Productos</a>
            </div>
            <ul>
                <li><a href='/dashboard/?category=Camisetas ' > Camisetas</a></li>
                <li><a href='/dashboard/?category=Pantalones ' > Pantalones</a></li>
                <li><a href='/dashboard/?category=Zapatos ' > Zapatos</a></li>
                <li><a href='/dashboard/?category=Accesorios ' > Accesorios</a></li> 
            </ul>
            <div>
                <a href="/login">Login</a>
            </div>
        
        </nav>
    </header>
    
    <main class='main-container'>
        <div class="contact-container">
            <h1>Log in to your account</h1>
            <h3>Don't have an account? <a href="/register">Sign Up</a> </h3>
            <form action="/register" method="post" id="login-form"  class="login-form">
                <label for="email">Email</label>
                <input type="email" name="email" id="email" required placeholder="email" autocomplete='true'>
        
                <label for="password">Password</label>
                <input type="password" name="password" id="password" placeholder="**********" required autocomplete='true'>
        
                
                <button id="login" class="login" type="button">Login</button>
                <button id="back" type="button">Back</button>
        
            </form>
            <div id="message"></div>
        </div>
    </main>
    <script type="module" src="./utils/login.js"></script>
</body>
</html>