<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/login.css">
    <title>Register</title>
</head>
<body>
    <header id="header-top" class='header-top'>
        <nav>
        
            <div>
                <a href="/">Products</a>
            </div>
            <ul>
                <li><a href='/dashboard/?category=Camisetas ' > T-Shirts</a></li>
                <li><a href='/dashboard/?category=Pantalones ' > Pants</a></li>
                <li><a href='/dashboard/?category=Zapatos ' > Shoes</a></li>
                <li><a href='/dashboard/?category=Accesorios ' > Accessories</a></li>
            </ul>
            <div>
                <a href="/login">Log in</a>
            </div>
        
        </nav>
    </header>
    
    <main class='main-container'>
        <div class="contact-container">
            <h1>Registrarse</h1>
            <h3>Have an account? <a href="/login">Log in now</a> </h3>
            <div class="providerAuth">
                <div id="google" class="providers-logo">
                    <img src="../images/2993685_brand_brands_google_logo_logos_icon.png"></img>
                </div>
                <div id="github" class="providers-logo">
                    <img src="../images/211904_social_github_icon.png"></img>
                </div>
                <div id="facebook" class="providers-logo">
                    <img src="../images/9693535_facebook_katana_social media_social_communication_icon.png"></img>
                </div>
            </div>
            <form action="/register" method="post" id="login-form"  class="login-form">
                <label for="email">Email</label>
                <input type="email" name="email" id="email" required placeholder="email" autocomplete='true'>
        
                <label for="password">Password</label>
                <input type="password" name="password" id="password" placeholder="**********" required autocomplete='true'>
        
                <button type="submit">Register</button>
               
                <button type="button">Back</button>
        
            </form>
            <div id="message"></div>
        </div>
    </main>
    <script type="module" src="../utils/register.js"></script>
</body>
</html>