html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*{
    box-sizing: border-box;

}
html{
    font-size: 62.5%;
}

/* Aqui empieza el navbar */
.header-top{
    padding: 2rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    background-color: #333333;
    color: white;
}
.header-top a{
    color: white;
    text-decoration: none;
    cursor: pointer;
}
.header-top nav{
    display: flex;
    align-items: center;
    gap: 4rem;
}
.header-top nav ul{
    display: flex;
    align-items: center;
    gap: 3rem;
    
}

/* Login */

.main-container{
    height: calc(100vh - 6rem);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2rem 1rem;
    background-color: #348cb2 ;
}
.contact-container {
    max-width: 36rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2.2rem;
    border-radius: 1rem;
    margin: 0 auto;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1),
        0 6px 20px rgba(0, 0, 0, 0.1);
}

.contact-container h1{
    font-size: 3rem;
    margin-bottom: 2rem;
    color: #348cb2 ;
}
.contact-container h3{
    font-size: 2rem;
    margin-bottom: 2rem;
    color: #333333;
}
.contact-container a{
    font-weight: 500;
    color: #016bf8;
    text-decoration: none;
}
/* providers containers */
.providerAuth{
    height: 4rem;
    width: 100%;
}
.providers-logo img{
    width: 4rem;
    cursor: pointer;
}

 .login-form{
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 2rem;
    text-align: start;
}
.login-form label {
    
    margin-bottom: 1rem;
}
.login-form input {
    padding: 1rem 0.8rem;
    outline: none;
    font-size: 1.6rem;
    border-radius: 5px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    margin-bottom: 2rem;
}
input:hover{
    box-shadow: rgb(232, 237, 235) 0px 0px 0px 3px;
}
input:focus{
    box-shadow: rgb(4, 152, 236) 0px 0px 0px 3px;
    border-color: rgb(255, 255, 255);
}
button {
    padding: 1.5rem 3rem;
    border: none;
    border-radius: .5rem;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    font-size: 1.6rem;
    transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    margin-bottom: 2rem;
}

button[type="submit"] {
    background-color: #348cb2;
    color: white;
}

button[type="submit"]:hover {
    background-color: #28738a;
}

button[type="button"] {
    background-color: #f4f4f4;
    color: #333;
}

button[type="button"]:hover {
    background-color: #ddd;
}

#login{
    background-color: #348cb2;
    color: white;
}
#login:hover{
    background-color: #28738a;
}