html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*{
    box-sizing: border-box;

}
html{
    font-size: 62.5%;
}

/* Aqui empieza el navbar */
.header-top{
    padding: 2rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    background-color: #333333;
    color: white;
}
.header-top a{
    color: white;
    text-decoration: none;
    cursor: pointer;
}
.header-top nav{
    display: flex;
    align-items: center;
    
    gap: 4rem;
}
.header-top nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    
}


/* MAIN CONTAINER */
.main-container{

    height: calc(100vh - 6rem);
    background-color: #348cb2 ;
}
.products-container{
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2.6rem;
    height: 100%;
}

.product{
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 1rem;
    max-width: 35rem;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1),
        0 6px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    color: #348cb2 ;
    cursor: pointer;
    border-radius: 1rem;
}
.product:hover{
    transform: scale(1.02);
    transition: all .12s linear;
}
.product h2{
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 2rem;
}
.product p{
    color: #333333;
    margin-bottom: 1rem;
    font-size: 1.6rem;
}
.product span{
    font-size: 1.8rem;
    font-weight: bold;
}
.product div{
    padding: 0 2rem;
    width: 100%;
    margin-bottom: 2rem;
}
.product div:hover{
    background-color: whitesmoke;
    transition: all 0.8s linear;
}

.product div img{
    width: 100%;
    height: 20rem;
    
}
.product  a{
    width: 100%;
    
}
.product button{
    width: 100%;
    padding: 1rem;
    background-color: dodgerblue;
    border: none;
    border-radius: .6rem;
    color: white;
    font-size: 1.6rem;
    margin-bottom: 1rem;
    cursor: pointer;
    font-weight: bold;
}
.product button:hover{
    transform: scale(1.02);
    transition: all .2s linear;
}
.product .secundary-button{
    background-color: #e0e0e0;
    color: #333333;
   
}
.product .secundary-button:hover{
    background-color: #666666;
    color: #f4f4f4;
}


/* login container */
.contact-container {
    max-width: 36rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2.2rem;
    border-radius: 1rem;
    margin: 0 auto;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1),
        0 6px 20px rgba(0, 0, 0, 0.1);
}
.login-form{
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 2rem;
    text-align: start;
}
.login-form label {
    color: #348cb2 ;
    margin-bottom: 1rem;
}
.login-form input {
    padding: 1rem 0.8rem;
    outline: none;
    font-size: 1.6rem;
    border-radius: 5px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    margin-bottom: 2rem;
}
.login-form textarea {
    padding: 1rem 0.8rem;
    outline: none;
    font-size: 1.6rem;
    border-radius: 5px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    margin-bottom: 2rem;
    resize: none; 
    width: 100%; 
    height: 150px; 
}
.login-form select {
    padding: 1rem 0.8rem;
    outline: none;
    font-size: 1.6rem;
    border-radius: 5px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    margin-bottom: 2rem;
    width: 100%; /* Ajusta el ancho al 100% */
    appearance: none; /* Elimina el estilo predeterminado de algunos navegadores */
    -webkit-appearance: none; /* Para navegadores webkit como Chrome y Safari */
    -moz-appearance: none; /* Para Firefox */
}
.login-form a button{
    width: 100%;
}

input:hover{
    box-shadow: rgb(232, 237, 235) 0px 0px 0px 3px;
}
input:focus{
    box-shadow: rgb(4, 152, 236) 0px 0px 0px 3px;
    border-color: rgb(255, 255, 255);
}
button {
    padding: 1.5rem 3rem;
    border: none;
    border-radius: .5rem;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    font-size: 1.6rem;
    transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    margin-bottom: 2rem;
}
#saveButton{
    background-color: #348cb2;
    color: white;
}
#saveButton:hover{
    background-color: #28738a;
}
.login-form a button:hover{
    background-color: #ddd;
}

 @media (320px <= width <= 768px) {
    .main-container{
        height: 100%;
    }
}